//Fuente texto
$font_body:sans-serif;

// NavegationPAG Colors
$main-white: white;
$main-red: #be3144;
$main-blue: #45567d;
$main-background:#000;
$main-section-background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);

//NavegationPag SIZE
$format-text-nav: 1.2rem;


//Primer section
$h1-size: 6rem;
$h2-size:2.6rem;
$p1-size: 3rem;